<!doctype html>
<html lang="en-US">
<head>
	<!-- meta data -->
	<title>{{ page.title }}</title>
	<meta name="author" content="Pieter Walsweer">

	<!-- styling -->
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700|Titillium+Web:400,200,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href="/css/styles.css"  media="screen" rel="stylesheet" type="text/css" />
	<link href="/css/coderay.css" media="screen" rel="stylesheet" type="text/css" />

	<!-- try to prevent caching -->
	<META HTTP-EQUIV="Cache-Control" CONTENT="max-age=0">
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-store" />
	<META HTTP-EQUIV="Expires" CONTENT="Tue, 01 Jan 1980 1:00:00 GMT">
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
</head>

<body class="posts index">
<header>
	<p><a href="/"><img src="/images/avatar.png" /></a></p>
	<h1>Hi,</h1>
	<h2 style="font-weight: 400">I'm <span style="color:#369;">Pieter Walsweer</span>.</h2>
	<p class="caption">I love building products.<br/>I'm a gamer, geek and a father.<br/>And I write here.</p>
	<div id="social">
		<a href="http://walsweer.me/twitter" ><img width="16" title="Twitter" src="/images/icons/twitter_alt.png"></a>
		<a href="http://walsweer.me/facebook"><img width="16" title="Facebook" src="/images/icons/facebook.png"></a>
		<a href="http://walsweer.me/+"       ><img width="16" title="Google+" src="/images/icons/google.png"></a>
		<a href="http://walsweer.me/linkedin"><img width="16" title="LinkedIn" src="/images/icons/linkedin_alt.png"></a>
		<a href="http://walsweer.me/xing"    ><img width="16" title="XING" src="/images/icons/xing.png"></a>
		<a href="http://walsweer.me/flickr"  ><img width="16" title="Flickr" src="/images/icons/flickr.png"></a>
		<a href="http://walsweer.me/github"  ><img width="16" title="GitHub" src="/images/icons/github_alt.png"></a>
		<a href="http://walsweer.me/amazon"  ><img width="16" title="Amazon Wishlist" src="/images/icons/amazon.png"></a>
	</div>
</header>

<div id="container">
	{{ content }}
</div>

</body>
</html>
