<!doctype html>
<html lang="en-US">
<head>
	<title>{{ page.title }}</title>
	<meta name="author" content="Pieter Walsweer">
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700|Titillium+Web:400,200,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href="/css/styles.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/css/coderay.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body class="posts index">
  <header>
	<p><a href="/"><img src="/images/avatar.png" /></a></p>
    <h1>Hi,</h1>
    <h2 style="font-weight: 400">I'm <span style="color:#369;">Pieter Walsweer</span>.</h2>
    <span class="caption">I'm a product manager, gamer, geek & father. And I write here.</span>
	<p>
		<a href="http://pieter.cc/twitter"><img width="16" src="/images/icons/twitter_alt.png"></a>
		<a href="http://pieter.cc/facebook"><img width="16" src="/images/icons/facebook_alt.png"></a>
		<a href="http://pieter.cc/+"><img width="16" src="/images/icons/google.png"></a>
		<a href="http://pieter.cc/xing"><img width="16" src="/images/icons/xing.png"></a>
		<a href="http://pieter.cc/linkedin"><img width="16" src="/images/icons/linkedin_alt.png"></a>
		<a href="http://pieter.cc/github"><img width="16" src="/images/icons/github_alt.png"></a>
		<a href="http://pieter.cc/flickr"><img width="16" src="/images/icons/flickr.png"></a>
		<a href="http://pieter.cc/amazon"><img width="16" src="/images/icons/amazon.png"></a>
    </p>
</header>

<div id="container">
	{{ content }}
</div>


</body>
</html>
